<div class="container">
    <mat-card class="postulation-form">
        <mat-card-header>
            <mat-card-title>Add Rapport</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form [formGroup]="rapportForm" (ngSubmit)="saveRapport()">
               

                <mat-form-field appearance="outline">
                    <mat-label>Titre</mat-label>
                    <input type="text" class="form-label" formControlName="titre" matInput class="form-label">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contenu</mat-label>
                    <input type="text" class="form-label" formControlName="contenu" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Nom Stage</mat-label>
                    <mat-select formControlName="stageId">
                      <mat-option *ngFor="let stage of stages" [value]="stage.id">
                        {{ stage.titre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Select a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
                  


                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Save Rapport</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>

